<html>
    <head>
        <title>
            ADMIN PAGE
        </title>
    </head>
    <body>
            Welcome : <%= user %>
            <br>
            <form action="/logout" method="GET">
                <input type="submit" value="logout" name="logout">
            </form> 


    </body>
</html>