<html>
    <head>
        <title>
            Logon Page
        </title>
    </head>
    <body>
        <form action="/login" method="post">
            Email Type: <input type="email" name="email"><br>
            Password: <input type="password" name="password" >
            <input type="submit" name="submit">
        </form>
    </body>
</html>